* {
  padding: 0;
  margin: 0;
}

html {
  margin: 0 auto;
  max-width: 1020px;

  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 940px;
}

.header a {
  text-decoration: none;
}

.header {
  font-family: "Lato-Bold", Verdana, sans-serif;
  background-color: #2d303a;
  border-bottom: solid #323746 6px;
}

.logo {
  display: inline-block;
  margin: 35px 0;

  line-height: 19px;
  font-size: 1.2rem;
  text-align: justify;
}

.logo h1 {
  color: white;
}

.logo span {
  color: #f06c64;
}

.header__navigation,
.navigation {
  float: right;
}

.navigation__elem:not(:last-child)::after {
  padding: 0 1.3rem;

  content: "\00B7";
  color: #494e62;
}

.navigation__elem {
  display: inline-block;
  margin: 45px 0 35px 0;

  line-height: 9px;
  font-size: 1.14rem;
  text-align: justify;
}

.navigation__elem a:link,
.navigation__elem a:visited {
  color: white;
}

.navigation__elem a:hover,
.navigation__elem a:active {
  color: #f06c64;
}

.navigation__elem a:focus {
  color: red;
  outline: none;
  border-bottom: solid red 2px;
}

.slider {
  height: 594px;
  background-color: #f06c64;
  border-bottom: solid #ea676b 6px;

}

.slider__button {
  padding: 282px 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.slider__button:hover {
  background: linear-gradient(-90deg, rgba(90, 90, 90, 0.1), rgba(50, 50, 50, 0.1));
}

.slider__button:active,
.slider__button:focus {
  background: linear-gradient(-90deg, rgba(90, 90, 90, 0.2), rgba(50, 50, 50, 0.2));
  outline: none;
}

.slider__button_left {
  float: left;
  padding-right: 5px;
}

.slider__button_right {
  float: right;
  padding-right: 5px;
  transform: scaleX(-1);
}

.vertical,
.horizontal {
  position: absolute;
}

.shadow-h {
  transform: rotate(90deg) scaleY(-1);
}

.phone-h,
.screen-h {
  transform: rotate(90deg);
}

.vertical {
  margin-top: 53px;
  margin-left: 51px;
}

.horizontal {
  margin-top: 53px;
  margin-left: 486px;
}

.our-services {
  padding: 67px 0;
  background-color: #f2f2f2;
  border-bottom: solid #ffffff 6px;
}

.our-services__name {
  font-family: Lato-Black, Verdana, sans-serif;
  line-height: 22px;
  font-size: 3rem;
  letter-spacing: 0.1px;
  color: #666d89;
}

.our-services__text {
  padding: 25px 0 0 0;

  font-family: Lato-Light, Verdana, sans-serif;
  line-height: 30px;
  font-size: 1.85rem;
  letter-spacing: -0.1px;
  text-align: justify;
  color: #767e9e;
}

.layout-3-column {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 84px);
  grid-gap: 39px 20px;

  padding-top: 46px;
}

.service {
  display: grid;
  grid-template-columns: 80px 220px;
  grid-template-rows: 23px 63px;
  grid-gap: 4px 0;
}

.service__icon {
  grid-row: 1 / 3;
}

.service__name {
  font-family: Lato-Black;
  transform: translateY(-4px);
  font-size: 1.85rem;
  letter-spacing: -0.4px;
  word-spacing: 0.1rem;
  color: #666d89;
}

.service__text {
  font-family: Lato-Regular, Verdana, sans-serif;
  line-height: 21px;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  word-spacing: 0.25rem;
  color: #666d89;
  overflow: hidden;
}
