* {
  padding: 0;
  margin: 0;
}

html {
  margin: 0 auto;
  max-width: 1020px;

  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 940px;
}

.portfolio__name {
  font-family: "Lato-Black";
}

.portfolio__text {

}

.portfolio__buttons {

}

.portfolio-grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-gap: 20px;
}
